
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
    <div class="container">
    <div class="box-nav d-flex-justify-between">
    
        <a href="/add-user" class="border-shadow">
    <span class="text-gradient">NEW STUDENT <i class="fa fa-user"  ></i></span>
        </a>
    </div>
    
    <form action="/" method="post">
        <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Registration_No</th>
            <th>Full_Name</th>
            <th>Email</th>
            <th>Branch</th>
            <th>CGPA</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    
        <%- include('include/_show') %>
    
    </tbody>
    
        </table>
    </form>

    </div>
    
       </main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
